---
import Layout from "../layouts/Layout.astro";
//import Card from "../components/Card.astro";
import TestButton from "../components/testButton.svelte";
---

<Layout title="Jicking Bebiro">
  <main>
    <p>Hello World!</p>
    <h1>I'm Jicking Bebiro</h1>
    <p>A Fullstack Developer from PH.</p>
    <p>I enjoy building web apps using .NET, JS/TS, and Azure.</p>
    <p>
      I also make lowbrow art and games using <a
        href="https://krita.org"
        target="blank">Krita</a
      > and <a href="https://godotengine.org/" target="blank">Godot</a> on my spare
      time.
    </p>
    <p>
      Let's Connect on <a
        href="https://www.linkedin.com/in/jicking"
        target="_blank">Linkedin</a
      > !!
    </p>
    <p style="display: none;">
      <a href="/html" target="_blank">HTML Document Test</a>
	  <TestButton client:visible />
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
